@use "variables" as *;
@use "mixins" as *;

:host {
  header {
    @include border(bottom);

    background-color: $color-header-background;
    height: $size-header;
    display: grid;
    place-items: center;
    width: 100%;
  }

  .header__container {

    display: flex;
    align-items: center;
    justify-content: center;

    @include container;
  }

  .header__date {
    display: none;
    font-size: $text-sm;

    @include respond-to("md") {
      display: block;
    }
  }

  .header__actions {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    & .switch-theme {
      border-radius: $rounded-sm;
      width: $spacing-9;
      height: $spacing-5;
      cursor: pointer;
    }
  }
}
