<div class="chatbot">
  @if(isActiveChatbot){
  <div class="chatbot__container">
    <header class="chatbot__header">
      <button class="chatbot__close-btn" (click)="closeChatbot()">X</button>
    </header>

    <div class="chatbot__body">
      <div class="chatbot__messages">
        @for(message of messages(); track message) {
        @if(message.role === 'user' ) {
        <p class="chatbot__message chatbot__message--user"> {{message.message}}</p>
        }
        @else if(message.role === 'bot') {
        <p class="chatbot__message  chatbot__message--bot"> {{message.message}} </p>
        }
        }
        @if(isBotWriting()){
        <p class="chatbot__message  chatbot__message--bot"> <icon-dots-three /> </p>
        }
      </div>

    </div>

    <footer class="chatbot__footer">
      <ui-input [control]="chatUserInput" style="width: 100%;" placeholder="Type a message"></ui-input>
      <ui-button (onClick)="sendMessage()" variant="ghost" size="icon">
        <icon-send />
      </ui-button>
    </footer>

  </div>
  }@else {
  <button (click)="openChatbot()" class="chatbot__toggler">
    <icon-automate color="black" height="25" width="25" />
  </button>
  }
</div>
