@use 'variables' as *;

:host {
  .board {
    height: $size-board;
    overflow-y: hidden;
    padding-bottom: $spacing-4;
    scrollbar-color: $color-column-background $color-card-background;
  }

  .board__container {
    display: flex;
    height: 100%;
    gap: $spacing-between-columns;
    overflow-x: auto;
    padding: $spacing-4;
  }

  .board__columns {
    display: flex;
    gap: $spacing-between-cards;
  }

  .board__add-list-btn {
    width: $size-column;
  }
}
