@use 'variables' as *;

:host {
  .board {
    height: $size-board;
    overflow-y: hidden;
    padding-bottom: $spacing-4;
    scrollbar-color: $color-column-background $color-card-background;
    background-color: $color-board-background;
  }

  .board__container {
    display: flex;
    height: 100%;
    gap: $spacing-between-columns;
    overflow-x: auto;
    padding: $spacing-4;
  }

  .board__columns {
    display: flex;
    gap: $spacing-between-cards;
  }

 .board__add-column-container{
    min-width: $size-column;
    border: 1px;
    display: flex;


    &_input{
      background-color: $color-column-background;
      height: fit-content;
      padding: $spacing-2;
      border-radius: $rounded-column;
    }

    &_btn-add-column{
      width: 100%;
      display: flex;
    }
  }
}
