<div class="column">
  <header class="column__header">
    <span class="title">{{columnData.title}}</span>
    <ui-button size="icon" variant="ghost">
      <icon-dots-three />
    </ui-button>
  </header>

  <div class="column__cards" cdkDropList>
    @for(card of columnData.cards; track card.id){
    <column-card cdkDrag [cardData]="card" />
    }

    @if(showInput()){
    <div #newTaskContainer>
      <ui-input [focusOnInit]="true" [control]="newCardTitle"
        variant="large" placeholder="Insira um título" />

      <div class="new-task__actions">
        <ui-button (onClick)="addNewTaskToColumn({ columnId: columnData.id })">
          <span>Add Card</span>
        </ui-button>

        <ui-button size="icon" variant="outline" (onClick)="disableInput()">
          <span>X</span>
        </ui-button>
      </div>
    </div>
    }

  </div>

  <footer class="column__footer">
    @if(!showInput()){
    <ui-button variant="ghost" (onClick)="enableInput()">
      <icon-plus />
      <span>Add new card</span>
    </ui-button>
    }
  </footer>

</div>
